form {
    margin: 0 auto;
    width: 260px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 2px solid rgba(99, 99, 99, 0.2);
}

form img {
    width: 40%;
    display: grid;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

hr {
    border-color: rgba(99, 99, 99, 0.2);
}

fieldset {
    display: inline-grid;
    display: -ms-inline-grid;
    width: 88%;
    border-color: rgba(99, 99, 99, 0.2);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

legend {
    margin: 0 auto;
    font-size: 16pt;
    text-transform: uppercase;
    text-decoration-color: rgba(99, 99, 99, 0.2);
    border: 2px solid rgba(99, 99, 99, 0.2);
    border-radius: 3px;
}

section:first-of-type {
    width: 32px;
    text-align: center;
    margin: 6px 0;
}

a:hover~video,
video:hover {
    display: block;
    position: absolute;
    z-index: 10;
}

video {
    display: none;
    z-index: 5;
    border: 0;
    outline: 0;
    margin-top: -20px;
    z-index: 0;
}

section {
    display: grid;
    display: -ms-grid;
}

section input {
    margin: 0;
    height: 29px;
    position: relative;
    border: 2px solid rgb(199 199 199);
    outline: 0;
    padding-left: 38px;
    border-radius: 3px;
}

section::after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    min-height: 35px;
    min-width: 35px;
    z-index: 1;
    background-color: rgb(199 199 199);
    clear: both;
    margin-top: 20px;
    margin-top: 0;
    border-radius: 3px 0 0 3px;
}

section:nth-of-type(1):after {
    display: none;
}

section:nth-of-type(2):after,
section:nth-of-type(3):after {
    background-image: url('../img/svg/user.svg');
}

section:nth-of-type(4):after,
section:nth-of-type(5):after {
    background-image: url('../img/svg/at.svg');
}

section:nth-of-type(6):after,
section:nth-of-type(7):after {
    background-image: url('../img/svg/password.svg');
}

section:nth-of-type(8):after {
    background-image: url('../img/svg/check_mark.svg');
    margin: 0;
    margin-left: -2px;
}

section label {
    grid-row: 1;
}

section div {
    text-align: center;
    margin-bottom: 6px;
}

.inline_grid {
    display: inline-grid;
    display: -ms-grid;
    align-items: center;
    grid-template-rows: 31px;
    border: 2px solid;
    border-color: rgb(199 199 199);
    margin-bottom: 10px;
    border-radius: 3px;
}

section input[type="checkbox"] {
    grid-row: 1;
    justify-self: end;
    margin-right: 5px;
}

input[type="submit"] {
    height: 35px;
    border: 0;
    width: 160px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input:required+label::after {
    content: " *";
    color: red;
}

#fname {
    margin-bottom: -6px;
}

input:not(input:required):not(input[type="submit"]),
section:nth-of-type(3):after,
section:nth-of-type(3) label,
label {
    display: none;
}

section:last-of-type label:last-child {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
}

@media (orientation: landscape) {

    section,
    label,
    #lname,
    section:nth-of-type(3):after,
    section:nth-of-type(3) label {
        display: grid;
    }

    section::after {
        min-height: 33px;
        margin-top: 20px;
    }

    #fname {
        margin-bottom: auto;
    }

    label {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content;
    }

    input:required+label::after {
        content: " *";
    }
}